<div class='col-sm-3'>
  <div class="card" style="width: 18rem;">
    <%= image_tag pen.image %>
    <div class="card-body">
      <p class="card-text">万年筆名：<%= pen.name %></p>
      <p class="card-text">値段：<%= pen.price %></p>
      <p class="card-text">ペン先：<%= pen.niv_type %></p>
    </div>
  </div>
</div>
